*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;  
}

     /* css for the body */

body{
    font-family: 'Poppins', sans-serif; 
  
    
    
}


/* css to create variable  */

:root{
    --text: 1.5rem;
    --size:calc(2.7em);
}

/* css for navbar start from here */

.top-nav{
    /* border: 2px solid black; */
    min-height: 100vh ;
    background:url('https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    
}

/* navbar start from here  */

.navbar{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 0rem 1rem;   
}

    /* css for navbar logo  */

.logo img {
    height: 230px;
    width: 230px;
    margin-top: 36px;
}

/* css for navabr list  */

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-family: 'DynaPuff', cursive;
    font-size: var(--text);   
}

.navbar ul li a{
    text-decoration: none;
color: white;
border-radius: 3px;
padding: 0.3rem 0.5rem;
}

/* css for navbar on  hover  */

.navbar ul li a:hover{
color:orange;
background-color:transparent;
border-bottom: 2px solid white;
}

/* main text area start from here  */

.text-area{
height: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;

}

/* css for the order now button  */

.text-area a{
    text-decoration: none;
    background-color: darkgreen;
    border-radius: 107px;
    font-weight: 900;
    padding: 0.3rem 0.6rem;
    margin: 0.8rem 1rem;
    display: block  ;
    font-size: var(--text);
    color:white;
    
}

/* css for the button  */

.btn{
    display: flex;
    flex-direction: row;
    padding: 0.7rem 0.7rem;
    margin: 0.8rem 1rem;
    }
    
    /* css for the butiton on hover  */


.btn a:hover{
background-color: orangered;
opacity: 0.9;
        
}
    

/* css for the  first line on webpage  */

.text-area h2{
    font-size: var(--size);
}

/* css for the second line  */

.text-area p{
    font-size: 1.4rem;
}


/* css to provide texture to the background  */

.text-area::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    top: 0;
    opacity: 0.55;
} 

/* css for the top list  */

.top-list{
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    display:flex;
}
.top-list-text{
    /* border: 2px solid red; */
    margin-left: 400px;
}
.top-list-text  h2 {
    text-align: center;
}

.top-list-text  h2 ,.top-list-text p{
    font-family: 'Bree Serif', serif;
font-size: 20px;
}

.top-list-text p{
    font-family: 'Tiro Gurmukhi', serif;
}
.top-list img{
    /* border: 2px solid lawngreen; */
    height:100px;
    display: flex;
    /* padding-left:  */
    margin-left:400px;
    align-content: flex-end;
}

/* css for the box for food under top list  */

.box-for-food{
    /* border: 3px solid red; */
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    grid-gap: -1px;
    width: fit-content;
    margin-left: 120px;
}

.food{
    /* border: 2px solid darkgreen; */
    margin: 0.4rem 0.5rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* css for the food image  */

.food img{
    height: 210px;
    width: 210px;
    border-radius: 0px 90px 0px 90px ;
    /* border: 2px solid lawngreen; */
    
}

/* css for the food image on hover  */
 
.food img:hover{
    transform:scaleY(1.16);

    
}

.food-detail{
    /* border: 2px solid hotpink; */
    margin-top: 12px;
} 

.food-name{
    /* border: 2px solid darkblue; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    
}
.about-food{
    /* border: 2px solid darkcyan; */
    width: fit-content;
    height:60px;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}
    
/* css for the 2 button add to cart  */

.btn-order a{
    text-decoration: none;
    background-color: darkred;
    border-radius: 127px;
    font-weight: 900;
    padding: 0.3rem 0.6rem;
    margin: 0.8rem 0.2rem;
    display: block  ;
    font-size: 12px;
    color:white;
    
}

.btn-order{
    /* background-color: yellow; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    padding: 0.3rem 0.6rem;
        margin: 0.3rem 0rem;
    }
    
    /* css for the  add to cart  button on hover  */


    .btn-order a:hover{
        background-color: orangered;
        opacity: 0.9;
        
    }
/* css for the price section of the food  */

.price{
    /* border:  2px solid darkgreen; */
    margin-left: 4rem;
    font-size:var(--text)
}


/* css for the third section  start here   */

.third-section{
    /* border: 2px solid black ; */
    margin-top: 29px;
}

/* css for the third section heading ie- we privide you best service  */

.third-section h3{
    /* border: 2px solid teal; */
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    font-size: 38px;
    letter-spacing: 2px;
    margin: 2px;
    padding: 3px 3px ;
}


/* css for the image section  used under the third section heading  */

.image img{
    width: 320px;
    height: 100px;
    /* border: 2px solid hotpink; */
    margin-left: 38%;
}

/* css for the making grid for the third section  */

.container{
    /* border: 2px solid black; */
    display: grid;
grid-template-columns: 2fr 2fr 2fr ;
grid-gap: 4px;
margin-top: 12px;

}

/* css to giver border to the grid  */

.box{
    border: 6px solid yellow;
    border-radius: 2px;
    margin-left: 22px;
    margin-right: 22px;
}

/* css for the third section image used  */

.box img{
    width: 240px;
    margin-left: 25%;
    /* border: 2px solid black; */
    margin-top: 12px;
    /* border: 2px solid hotpink; */
}

#box-2 img{
    height: 250px;
    
}
span{
    color: orangered(--primary);
}


/* css for the text used in the third section  */

#third-section-box-1 p{
    margin-top: 42px;
    /* border: 2px solid firebrick; */


}

#box-2{
padding-bottom: 39px;
}

.box h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    /* border: 2px solid firebrick; */
    margin-top: 12px;
    padding: 9px 10px 4px;
}

.box p{
    /* border: 2px solid darkviolet; */
    text-align: center;
    margin: 12px;
    color: orangered;
    font-weight: 1000;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 29px;
}

/* css for the third section end here  */





/* css for the forth container start from here */

.forth-container{
    /* border: 2px solid black; */
    display: flex;
margin-top: 23px;
background-color: rgba(255, 255, 255, 0.856);
}

.forth-container-text{
    /* border: 2px solid darkgreen; */
    margin: 5px 5px 5px 5px ;
    margin-left: 5%;
    width: 900px;
    
    
}
.forth-container-text p{
    font-family: 'Rozha One', serif;
    /* border: 2px solid darkmagenta; */
    margin-top:59px ;
    letter-spacing: 1px;
    margin-left: 12px;
    font-size: 56px;
    width: 650px;

}

.forth-container-text ul {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-top: 22px;
    margin-left: 22px;

    text-decoration: none;

    /* border: 2px solid darkolivegreen; */
}

.forth-container-text ul li{
    /* border: 2px solid gold; */
    margin: 23px 4px 5px ;
}


.forth-conatiner-image{
    /* border: 2px solid darkred; */
    background-color: orange;
    border-radius: 800px 290px 200px 400px  ;
    margin-left: 2%;
    box-shadow: 2cm;
    height: 500px;
}

.forth-conatiner-image img{
    height: 500px;
    
}

/* css for the fourth section end here  */





/* css for the fifth section start from here */


/* to add backgroud image  in the fifth section   */

.bg-image {
    /* The image used */
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGRlbGVjaW91cyUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    /* border: 2px solid black; */
      /* Full height */
      height: 100%;
       /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* css for the food menu  */

.food-menu{
    /* border: 2px solid red; */
    margin-left: 40%;
    width: fit-content;
    margin-top: 19px;
    font-size: 38px;
    font-family: "Rozha One";
}
 

/* css for the food box  */

.food-list-box{
    /* border: 2px solid wheat; */
    padding: 6px ;
    margin-top: 12px;
    display: grid;
   grid-template-columns: 4fr 4fr ;
   grid-gap: 19px ;
}

.box-for-food-list{
    /* border: 2px solid darkcyan; */
    background-color: white;
    height: 230px;
    width: 600px;
    margin-left:32px;
}

/* css to make image and text in a 2 column */

.food-1{
    display: flex;
}

/* css for the image of food in fifth section  */

.food-1 img{
    height: 230px;
    width: 230px;
    /* border: 2px solid rebeccapurple; */
    margin-left: 3%;
}

.food-1-detail{
    /* border: 2px solid black; */
    margin-left: 10%;
}

.food-1-detail h4{
    /* border: 2px solid firebrick; */
    margin-top: 16px;
    font-size: 28px;
    font-family: 'Rozha One', serif;

}
.food-1-detail p{
    /* border: 2px solid green; */
    margin-top: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    font-weight: 100;



}

.food-1-detail h5{
    /* border: 2px solid hotpink; */
    margin-top: 12px;
    font-weight: bolder;
    font-size: 29px;
    color: orange;
    font-family: 'DynaPuff', cursive;
}

#pizza h4{
    font-size: 25px;
}

/*  css for the buttonj of fifth section    */

.food-section-btn{
    /* border: 2px solid red; */
    width: fit-content;
    text-align: center;
    margin-top: 12px;
}

.food-section-btn a{
    background-color: orangered;
    text-decoration: none;
    width: 300px;
    letter-spacing: 1px;
    color: white;
    border-radius: 15px;
    padding: 5px;
}


.food-section-btn a:hover{
background-color: darkred;

}

/* css for the new featured section  start from here */

.next-week-feature{
    /* border: 2px solid black; */
    margin-top: -2px;
    background-color: rgba(158, 158, 158, 0.089);
}

.heading-next-week{
 /* border: 2px solid hotpink; */
 width: fit-content;
 margin-left: 38%;
 margin-top: 1cm;
 font-size: 38px;
 font-family:  'Rozha One';
}

.grid-for-this{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 12px;
}

.grid-box{
    /* border: 2px solid red; */
    margin-left: 39px;
    width: 390px;
    height: 620px;
    margin-top: 29px;
    background-color: white;
    box-shadow: rgba(153, 215, 240, 0.397);
}

.image-1 img{
    /* border: 2px solid red; */
    margin-top: 0.2cm;
    margin-left: 37%;

}



.grid-text h3{
    color: darkorange;
    /* border: 2px solid black; */
    width: 290px;
    margin-left: 42px;
    font-family: 'Rozha One';
font-size: 50px;
}

.grid-text p{
font-weight: 300;
font-family: serif;
/* border: 2px solid saddlebrown; */
width: 300px;
margin-top: 9px;
margin-left: 32px;
padding: 2rem;
font-size: 18px;
}

.image-2 img{
    height: 230px;
    /* border: 2px solid firebrick; */
    margin-left: 42px;
}


/* css for the 6 section start from here */

.cont-container{

    /* border: 2px solid black ; */
    margin-top: 22px;
    background-color: white;
    display: flex;
}


.cont-image img{

    height: 500px;
    /* border: 2px solid hotpink; */
    margin-left: 80px;
    margin-top: 20px;
}


.cont-container h2{
    /* border: 2px solid brown; */
    margin-top: 40px;
    margin-left: 60px;
    font-family: 'Rozha One';
    font-size: 64px;
    margin-left: 5%;
    width: 700px;
}

.cont-text ul {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-top: 22px;
    margin-left: 52px;

    text-decoration: none;

    /* border: 2px solid darkolivegreen; */
}

.cont-text ul li{
    /* border: 2px solid gold; */
    margin: 23px 4px 5px ;
}


/* css for the sixth section button  */
 
.cont-btn{
    /* border: 2px solid red ; */
    text-align: center;
    margin-top: 43px;
    

}

.cont-btn a{
    /* border: 2px solid fuchsia; */
    
    width: 94px;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 12px;
    height: 50px;
    background-color:darkorange ;
    text-decoration: none;
    color: white;
    border-radius: 12px;
}


.cont-btn a:hover{
    background-color: rgba(252, 143, 9, 0.767);
}


/* css for the seventh section  */

.apporable-price{
    /* border: 2px solid hotpink; */
    text-align: center;
    font-size: 49px;
    margin-top: 12px;
    padding: 5px;
    font-family: 'Rozha One';
}

.apporable-grid{
    /* border: 12px solid black; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr ;
    padding: 28px;
    grid-gap: 12px;

}

.apporable-box{
    border: 4px solid darkgoldenrod;
    height: 640px;
}

.apporable-box h3{
    /* border: 4px solid darkgrey; */
    margin-top: 29px;
    padding: 2px;
    font-size: 39px;
}

.apporable-box img{
    /* border: 4px solid darkred; */
    margin-left: 29%;
    margin-top: 32px;
}

#food3 img{
    height: 140px;
}
.apporable-box h4{
    /* border: 4px solid darkturquoise; */
    margin-top: 32px;
    text-align: center;
    font-size: 48px;
    font-family: "Rozha One";
    font-weight: 400;
    font-style: normal;
    color: rgb(248, 129, 13);
}


.apporable-box  p{

    font-weight: 200px;
    font-family: Arial, sans-serif;
    /* border: 2px solid darkgreen; */
    margin-top: 42px;
    margin-bottom: 12px;
    font-size: 19px;
    padding: 8px;
}

.apporable-btn-btn{
    /* border: 2px solid darkred; */
    text-align: center;
    width: 300px;
    margin-left: 49px;
    margin-top: 28px;
}

.apporable-btn-btn a{
    background-color: orange;
    text-decoration: none;
    width: 20px;
    color: white;
    letter-spacing: 1px;
    padding: 11px;
border-radius: 22px;

}


.apporable-btn-btn a:hover{
    border: 2px solid black;
    background-color: orangered;

}


#apporable-box-2 {
    background-color: rgba(255, 140, 0, 0.829);
    color: white;
    border: none;
}


#apporable-box-2 h4{
    color: white;
}

#btn-pre a{
    border: 2px solid white;
}

/* css for the seventh section end here  */


.review{
/* border: 2ps solid black; */
}

.review-heading{
    /* border: 2px solid darkgoldenrod; */
    text-align: center;
    font-size: 42px;
    margin-top: 12px;
    letter-spacing: 1px;
    font-family: "Rozha One";
}

.review-heading span{
    color: orangered;
    font-size: 48px;
}

.person-review-1 ,.person-review-2,.person-review-3{
    /* border: 2px solid darkred; */
    padding: 5px;
    display: flex;
    margin: 19px;
    background-color: rgba(23, 247, 255, 0.452);
    border-radius: 16px;
}

.person-review-1 img ,.person-review-2 img ,.person-review-3 img {
    /* border: 2px solid darkmagenta; */
    border-radius: 70%;
    margin-top:12px;
    margin-left: 9px;
    height: 60px;
    width: 110px;
}

.person-review-1 p , .person-review-2 p,.person-review-3 p{

    /* border: 2px solid gold; */
    padding: 7px;
    font-size: 18px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 200;
    text-align: center;
    margin-top: 1%;
    height: fit-content;
}

.reviews{
    /* border: 2px solid black; */
}

#review-2{
    background-color: rgba(128, 255, 0, 0.452);
}

#review-3{
    background-color: rgba(255, 196, 0, 0.452);
}

.reviews h5{
    /* border: 2px solid blue; */
    width: fit-content;
    margin-top: 5px;
    margin-left: 67px;
}


section{
    /* border: 2px solid firebrick; */
    background-color: rgba(151, 151, 151, 0.247);
}

.contact-us{
    /* border: 2px solid greenyellow; */
    margin: 15px;
    display: flex;
}

.form-contact{
    /* border: 2px solid darkblue; */
    margin: 5px;
    width: 14cm;
    background-color:white;
    box-shadow: rgb(128, 128, 128);
    padding: -1px;
}

.contact-us img{
    /* border: 2px solid darkviolet; */
    margin-left: 20%;
    margin-top: 7px;
    background-color: orangered;
    border-radius: 900px 900px 900px 900px  ;
    /* margin-left: 2%; */
    box-shadow: 2cm;
    height: 500px;
}

.form-contact h3{
    /* border: 2px solid darkcyan; */
    /* margin-top: 18px; */
    /* margin-left:5px; */
    width: 13cm;
    height: 2cm;
    padding-top: 10px;
    font-size: 43px;
    background-color: orange;

    color: white;
    letter-spacing: 1px;
    font-family: 'Permanent Marker', cursive;

}

.form-contact h4{
    /* border: 2px solid darkblue; */
    margin-left: 56px;
    margin-top: 30px;
    text-align: center;
    width: 10cm;
    font-family: 'Tajawal', sans-serif;
    font-size: 23px;
}

#name,#state,#email{
    width: 300px;
    margin-top: 23px;
    background-color: rgba(180, 180, 180, 0.404);
    /* border: 2px solid red; */
    margin-left:2.5cm;
    height: 39px;
}

#btn-btn-submit{

    /* border: 2px solid red; */
    margin-top: 1.8cm;
    margin-left: 3.3cm;
    font-size: 34px;
    padding: 0.4rem;
    font-family: 'Acme', sans-serif;
    border-radius: 8px;
    color: white;
    background-color:orange;
}

#btn-btn-submit:hover{
    background-color: olivedrab;
    border: 4px solid black;
}


/* end of the website  */


/* footer section  */

.footer-section{
    /* border: 7px solid green; */
      background-color:rgba(128, 128, 128, 0.425);
  padding:12px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
}


.footer-cont{

    /* border: 2px solid red; */
    display: flex;
    background-color: rgba(255, 255, 255, 0.747);
    
}


.footer-cont h4{

    /* border: 2px solid blue; */
    padding-top: 15px;
    font-family: serif;
    font-size: 20px;
    width: 500px;
    height: fit-content;
  text-align: center;
  font-weight: 100;
    margin: 8px;
}

.png-social-media{
    /* border: 2px solid fuchsia; */
    margin-left: 36%;
    padding: 12px;
}
.png-social-media img{

    /* border: 2px solid green; */
    background-color: gray;
    /* margin: 8px; */
    border-radius: 50%;
    height: 35px;
    width: 35px;

    /* padding: 12px; */
    /* margin-left: 34px; */
}

.png-social-media a  :hover{

    background-color: transparent;
    color: black;
    /* height: 40px; */
   
}

#png-1 ,#png-2,#png-3,#png-4,#png-5{
    margin: 2px;
}

#png-2,#png-3,#png-4{
    padding: 4px;
}

.footer-end{
    /* border: 2px solid blueviolet; */
    display: flex;
    background-color: white;
}

.about-us{
    /* border: 2px solid darkcyan; */
    margin-left: 20px;
    padding: 4px;
    width: 300px;

}

.about-us img{
    /* border: 2px solid darkgoldenrod; */
    height: 200px;
    background-color: rgba(19, 9, 9, 0.308);
}

.about-us p{
    font-weight: 100;
    /* border: 2px solid darkgreen; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.home-page{
    /* border: 2px solid hotpink; */
    padding: 16px;
    margin-left: 17%;
}

.home-page h4{
    font-weight: 100;
    font-size: 19px;
    width: 200px;
    /* border: 2px solid darkgreen; */
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.home-page p{
    /* border: 2px solid darkolivegreen; */
    margin-top: 12px;
}

.footer-contact-us{
    /* border: 2px solid darkred; */
    margin-left: 15%;
    padding: 16px;
}

.footer-contact-us h4{
    /* border: 2px solid darkturquoise; */
    /* margin-top: 5px; */
    font-weight: 100;
    font-size: 19px;
    width: 200px;
    /* border: 2px solid darkgreen; */
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.end-1,.end-2,.end-3{
    display: flex;
}

.footer-contact-us span{

    /* border: 2px solid darkorange; */
    margin-top: 12px;
    font-weight: 300;
}


.footer-contact-us p{
/* border: 2px solid darkblue; */
margin-top: 12px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* footer end  */

.end-text{
text-align: center;
font-weight: 100;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-top: 12px;
}